
body {
    font-family: 'Inter', Arial, sans-serif;
    background: #E6E6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;

}

input {
    width: 100%;
    font-weight: 500;
}

h2 {
    text-align: center;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 20px ;
    position: absolute;
    z-index: 10;
    top: 0;



}

.detail {
    border: 2px solid black ;
    margin-bottom: 10px ;
    position: relative;
    text-align: center;


}

button {
    background: #8b44cd;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    position: relative;
}

a {
    text-align: center;
}

form {
    border: 2px solid black;
}