<!DOCTYPE html>
<html lang="ru" xml:lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <div th:replace="~{common :: styles}"></div>
    <link rel="stylesheet" th:href="@{/styles/home_page_main.css}">
    <script th:src="@{/js/burgerMenu.js}"></script>


</head>
<body>
<div th:replace="~{common :: header}"></div>
<div class="menu" id="menu">

    <ul class="burger-menu__list">
        <li class="burger-menu__item">
            <a href="#" class="burger-menu__link">Электроника</a>
        </li>
        <li class="burger-menu__item">
            <a href="#" class="burger-menu__link">Одежда</a>
        </li>
        <li class="burger-menu__item">
            <a href="#" class="burger-menu__link">Книги</a>
        </li>
        <li class="burger-menu__item">
            <a href="#" class="burger-menu__link">Спорт</a>
        </li>
        <li class="burger-menu__item">
            <a href="#" class="burger-menu__link">Красота</a>
        </li>
    </ul>
</div>

<div class="burger-menu__overlay" id="burgerMenuOverlay"></div>
<main>
    <!-- Пример отображения списка продуктов с Thymeleaf -->
    <div th:if="${products != null and !products.isEmpty()}">
        <div class="products-container">
            <div th:each="product : ${products}" class="product-item">
                <!-- Основное изображение продукта -->
                <div class="product-image">
                    <img class="preview-img"
                         th:if="${product.previewImageId != null}"
                         th:src="@{/image/{id}(id=${product.previewImageId})}"
                         th:alt="${product.name}"
                         src="/image/placeholder.jpg">
                    <img th:unless="${product.previewImageId != null}"
                         src="/image/placeholder.jpg"
                         th:alt="${product.name}"
                         class="preview-img">
                </div>
                <h3 th:text="${product.name}">Название продукта</h3>
                <a class="product_details_btn" th:href="@{/product/get/{id}(id=${product.id})}">
                    Подробнее</a>
            </div>
        </div>
    </div>

    <div th:if="${products == null or products.isEmpty()}">
        <p class="no-products">Товары не найдены</p>
    </div>

</main>
<footer></footer>
</body>
</html>
