<!DOCTYPE html>
<html lang="ru" xml:lang="ru"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
 <head>
  <meta charset="UTF-8">
  <title>Страница администратора</title>
 </head>
 <body>
  <header class="header">
   <div class = "header_container">
    <div class="logo">
     <img th:src="@{/images/logo.png}" th:alt="logo">
    </div>
     <div class="header_location-block">
     </div>
       <div class="header_search-block">
        <button class="search_catalog-button">
         <span class="search_catalog-icon">
          <svg  xmlns="http://www.w3.org/2000/svg"
                width="18px" height="24px"
               viewBox="0 0 100 100"><path stroke-width="24" stroke-linecap="round"
                                           stroke="#000" d="M15 20L85 20M15 50L85 50M15 80L85 80"/>
          </svg>
         </span>
         <span>Каталог</span>
        </button>
       </div>
   </div>
  </header>
  <main></main>
  <footer></footer>
 </body>
</html>
