    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Вход</title>
        <link rel="stylesheet"  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap">
        <link rel="stylesheet" th:href="@{/static/css/login.css}">
    </head>
    <body>
    <h2>Вход</h2>
    <form th:action="@{/api/login}" method="post">
        <div class="detail">
            <label>
                Имя пользователя
                <input type="text" name="username" required>
            </label>

        </div>
        <div class="detail">
            <label>
                Пароль
                <input type="password" name="password" required>
                </label>
        </div>
        <button type="submit">Войти</button>
    </form>
    <div th:if="${error}" style="color: red;" th:text="${error}"></div>
    <div th:if="${message}" style="color: green;" th:text="${message}"></div>
    <a th:href="@{/api/register}">Нет аккаунта? Зарегистрироваться</a>
    </body>
    </html>