<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <div th:replace="~{common :: styles}"></div>
    <link rel="stylesheet" th:href="@{/styles/productDetailsMain.css}">
    <link rel="stylesheet" th:href="@{/styles/modalMenu.css}">
    <script th:src="@{/js/burgerMenu.js}"></script>
</head>
<body>
<div th:replace="~{common :: header}"></div>
<div th:replace="~{common :: burger-menu}"></div>
<div th:replace="~{common :: burger-menu__ovelay}"></div>
<div class="modal">
    <input type="hidden" id="productId" th:value="${product.id}">
    <label for="quantity">Кол-во товара</label>
    <input type="number" id="quantity" class="quantity-btn" value="1" step="1"    max="100">
    <button type="button" class="modal-btn" id="inCart-btn">В корзину</button>
</div>

<main>
    <div class="main-content">
        <div class="product-image ">
            <img
                    th:if="${product.previewImageId!=null}"
                    th:src="@{/image/{id}(id=${product.previewImageId})}"
                    th:alt="${product.name}"
                    src="/image/placeholder.jpg">
            <img th:unless="${product.previewImageId != null}"
                 src="/image/placeholder.jpg"
                 th:alt="${product.name}"
                 class="preview-img">
        </div>
        <div class="product-price">
            <button id="buy-now-btn">Купить сейчас</button>
            <button id="in-cart">В Корзину</button>
        </div>
        <div class="product-description">
            <p th:text="${product.description}">Описание товара</p>
        </div>
    </div>
</main>


<div th:replace="~{common :: footer}"></div>

<script th:src="@{/js/buyNow.js}"></script>
<script th:src="@{/js/inCart.js}"></script>
</body>
</html>