<!DOCTYPE html  >
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xml:lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Вход</title>
    <link  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet" >
    <link th:href="@{/styles/loginStyle.css}" rel="stylesheet" style="display: inline">
</head>
<body>
<form   th:action="@{/api/sign_up}"  method="post" th:object="${user}">
    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Регистрация</h2>

            <div class="input-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" placeholder="Введите ваш логин" required th:field="*{username}">
            </div>

            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="••••••••" required th:field="*{password}">
            </div>

            <button class="login-btn" type="submit">Зарегистрироваться</button>

            <div class="login-footer">
                <a th:href="@{/api/login}"> Уже Есть Аккаунт? Войти</a>
            </div>
        </div>
    </div>
    <div th:if="${error}" style="color: red;" th:text="${error}"></div>
</form>
</body>
</html>