body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.common{
    display: flex;
    justify-items: end;
    width: 100%;
}
main{
    margin-top: 20vh;
    min-height: 80vh;
}

