body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(45deg, #47a7c5, #d6dad9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-card {
    background: white;
    border-radius: 16px;
    padding: 40px;
    width: 380px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.login-title {
    text-align: center;
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s;
}

input::-webkit-input-placeholder{
    color: transparent;
    background-image: linear-gradient(45deg, #47a7c5, #d6dad9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input:focus {
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(45deg, #47a7c5, #d6dad9);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;

}

.login-btn:hover {
    background: linear-gradient(15deg, #1338b5, #d6dad9);
}

.login-footer {
    text-align: center;
    margin-top: 24px;
    color: cornflowerblue;
    font-size: 14px;
}
.login-footer:hover{
    color: #1338b5;
}
a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}
